/* color */
:root {
    --color-bg1: #f3f4e9;
    --color-bg2: #416d83;
    --color-bg3: #f4f2ec;
    --color-border1: #416d83;
    --color-border2: #453630;
    --color-border3: #416df3;
    --color-text1: #416d83;
    --color-text2: #122a70;
    --color-text3: #416df3;
    --color-text4: #023df7;
    --color-text5: #f3f4e9;
    --color-text6: #f8efce;
  }