/* normalizeArea */
* {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* headerArea */
header {
  font-family: "Libre Baskerville", serif;
  width: 80%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: center;
}

header > .logo {
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
}

header > .logo > img {
  width: 45px;
  height: 45px;
}

header > .titleText {
  display: flex;
  flex-grow: 1;
  justify-items: center;
  align-items: center;
}

header > .titleText > h1 {
  z-index: 10;
  text-align: center;
  color: #9b7e4b;
  font-size: 4rem;
  user-select: none;
}

header > .titleText h1 {
  font-size: 2rem;
}

.mainText {
  font-family: "Libre Baskerville", serif;
  color: #9b7e4b;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  border-right: 0.05em solid black;
}

/* snowBoxArea */
#snowBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid #fff;
  overflow: hidden;
}

.snowflake {
  height: 100%;
  color: #9b7e4b85;
  font-size: 1em;
  font-family: Arial;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 700px;
  }
}

@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 700px;
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}

.snowflake {
  position: absolute;
  top: -10%;
  z-index: 1;
  -webkit-user-select: none;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 15s, 5s, 5s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  user-select: none;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 15s, 5s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 4s, 0s;
  animation-delay: 4s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 5%;
  -webkit-animation-delay: 8s, 2s;
  animation-delay: 8s, 2s;
}
.snowflake:nth-of-type(2) {
  left: 10%;
  -webkit-animation-delay: 9.5s, 0.5s;
  animation-delay: 9.5s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 15%;
  -webkit-animation-delay: 7s, 2s;
  animation-delay: 7s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 20%;
  -webkit-animation-delay: 0s, 3s;
  animation-delay: 0s, 3s;
}
.snowflake:nth-of-type(5) {
  left: 25%;
  -webkit-animation-delay: 4.5s, 3s;
  animation-delay: 4.5s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 30%;
  -webkit-animation-delay: 9s, 2s;
  animation-delay: 9s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 35%;
  -webkit-animation-delay: 6s, 1s;
  animation-delay: 6s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 40%;
  -webkit-animation-delay: 12s, 1s;
  animation-delay: 12s, 1s;
}
.snowflake:nth-of-type(9) {
  left: 45%;
  -webkit-animation-delay: 1s, 1.5s;
  animation-delay: 1s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 50%;
  -webkit-animation-delay: 4.5s, 0s;
  animation-delay: 4.5s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 55%;
  -webkit-animation-delay: 5s, 1s;
  animation-delay: 5s, 1s;
}
.snowflake:nth-of-type(12) {
  left: 60%;
  -webkit-animation-delay: 2s, 0.5s;
  animation-delay: 2s, 0.5s;
}
.snowflake:nth-of-type(13) {
  left: 65%;
  -webkit-animation-delay: 6.5s, 3s;
  animation-delay: 6.5s, 3s;
}
.snowflake:nth-of-type(14) {
  left: 70%;
  -webkit-animation-delay: 10s, 2s;
  animation-delay: 10s, 2s;
}
.snowflake:nth-of-type(15) {
  left: 75%;
  -webkit-animation-delay: 5.5s, 5s;
  animation-delay: 5.5s, 5s;
}
.snowflake:nth-of-type(16) {
  left: 80%;
  -webkit-animation-delay: 2.5s, 2s;
  animation-delay: 2.5s, 2s;
}
.snowflake:nth-of-type(17) {
  left: 85%;
  -webkit-animation-delay: 3s, 2.5s;
  animation-delay: 3s, 2.5s;
}
.snowflake:nth-of-type(18) {
  left: 90%;
  -webkit-animation-delay: 11s, 4.5s;
  animation-delay: 11s, 4.5s;
}
.snowflake:nth-of-type(19) {
  left: 90%;
  -webkit-animation-delay: 4s, 1.5s;
  animation-delay: 4s, 1.5s;
}
.snowflake:nth-of-type(20) {
  left: 90%;
  -webkit-animation-delay: 1.5s, 3.5s;
  animation-delay: 1.5s, 3.5s;
}

/* mouseCursorArea */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* navBarArea */
.navBar {
  border: 3px solid #453630;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: flex;
  transition: height 0.5s;
}

.navBar > .boxGroup {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

/* 모바일 버전 메뉴바 축소를 위한 CSS */
.navBar > .boxGroup:nth-child(1),
.navBar > .boxGroup:nth-child(2),
.navBar > .boxGroup:nth-child(3),
.navBar > .boxGroup:nth-child(5) {
  display: none;
}

/* navBar_whiteBoxArea */
.navBar .whiteBox {
  position: relative;
  flex: 1;
  border: 4px solid #453630;
  width: 100%;
  height: 100%;
  background-color: #f4f2ec;
}

.navBar .whiteBox:hover {
  background: linear-gradient(to bottom, #dedede, #ababab);
}

/* navBar_blackBoxArea */
.navBar .blackBox {
  position: absolute;
  width: 9%;
  height: 50%;
  background-color: #453630;
  top: 1;
}

/* blackBox 위치 지정 CSS */
.blackBox:nth-child(8) {
  left: 9.97%;
}

.blackBox:nth-child(9) {
  left: 23.9%;
}

.blackBox:nth-child(10) {
  left: 52.5%;
}

.blackBox:nth-child(11) {
  left: 66.8%;
}

.blackBox:nth-child(12) {
  left: 80.8%;
}

/* navBarAnimationArea */
.navBar .animation {
  position: absolute;
  top: -45px;
  width: 40px;
  height: 40px;
  color: #453630;
  font-size: 200%;
  visibility: hidden;
  transition: color 0.2s, transform 2s;
}

.whiteBox:hover > .animation {
  visibility: visible;
  transform: translateY(-50px);
  color: #9b7e4b;
}

.navBar .mobileAni {
  display: block;
}

/* navBar_buttonArea */
.navBar .whiteBox > button {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 3%;
  width: 95%;
  height: 40px;
  border: none;
  background-color: #453630;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.navBar .whiteBox > button:hover {
  background-color: #ababab;
  border: 0.5px solid #ababab;
}

.navBar .whiteBox > button:hover > i {
  color: #9b7e4b;
  transition: color 0.3s;
}

.navBar .btnText {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  left: -1px;
  top: -240px;
  background-color: #453630;
  color: #453630;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  visibility: hidden;
  user-select: none;
  transition: color 0.3s, visibility 1s, transform 1s;
}

.navBar .whiteBox > button:hover .btnText {
  justify-content: center;
  visibility: visible;
  transform: translateY(-30px);
  color: #9b7e4b;
}

/* mobileBtnArea */
.navBar .whiteBox .mobileBtn {
  display: block;
}

.mobileBtn .mobileBtnText {
  color: #fff;
  font-size: 1.2em;
}

.mobileBtn:hover .mobileBtnText {
  color: #9b7e4b;
}

.navBar .whiteBox > .pcAniHidden {
  display: block;
}

@media all and (min-width: 768px) {
  .navBar > .boxGroup:nth-child(2) {
    display: flex;
  }

  
}

/* pcScreenMedia */
@media all and (min-width: 1024px) {
  .navBar .whiteBox > .mobileBtn {
    height: 43px;
  }
}

/* lagePCScreenMedia */
@media all and (min-width: 1440px) {
  header > .titleText > h1 {
    font-size: 4rem;
  }

  .navBar > .boxGroup:nth-child(1),
  .navBar > .boxGroup:nth-child(5) {
    display: flex;
  }

  .navBar > .boxGroup:nth-child(3),
  .navBar > .boxGroup:nth-child(4) {
    display: flex;
  }

  .navBar .whiteBox .mobileBtn {
    display: none;
  }

  .navBar .whiteBox .pcBtn {
    display: block;
    border-radius: 50%;
  }

  .navBar .whiteBox > .pcAniHidden {
    display: none;
  }

  .navBar .whiteBox > .pcBtn > i {
    font-size: 1.2rem;
    text-align: center;
    color: #f4f2ec;
  }

  .navBar .mobileAni {
    display: none;
  }


  
}
