/* Normalize_start */
html {
  font-family: "Libre Baskerville", serif;
  user-select:none;
}

body {
  margin: 0 auto;
  padding: 0 auto;
}
/* Normalize_end */

/* navBar_start */
.navBar {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 110px;
  display: flex;
  transition: height 0.5s;
  background-color: white;
}

.navBar:hover {
  height: 200px;
}

.navBar > .boxGroup {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

/* navBar_whiteBox_start */
.navBar .whiteBox {
  position: relative;
  flex: 1;
  border: 2px solid #453630;
  border-top: 0 solid #453630;
  width: 100%;
  height: 100%;
  background-color: #f4f2ec;
}

.navBar .whiteBox:hover {
  background: linear-gradient(to bottom, #f4f2ec, #dedede);
}
/* navBar_whiteBox_end */

/* navBar_blackBox_start */
.navBar .blackBox {
  position: absolute;
  width: 9%;
  height: 50%;
  background-color: #453630;
  top: 1;
}

.navBar .blackBox:nth-child(8) {
  left: 9.97%;
}

.navBar .blackBox:nth-child(9) {
  left: 23.9%;
}

.navBar .blackBox:nth-child(10) {
  left: 52.5%;
}

.navBar .blackBox:nth-child(11) {
  left: 66.8%;
}

.navBar .blackBox:nth-child(12) {
  left: 80.8%;
}
/* navBar_blackBox_end */

/* navBar_button_start */
.navBar .whiteBox > button {
  position: absolute;
  bottom: 5px;
  left: 3%;
  width: 95%;
  height: 47px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #453630;
  transition: background-color 0.3s;
}

.navBar .whiteBox > button > i {
  font-size: 1.3rem;
  text-align: center;
  color: #f4f2ec;
}

.navBar .whiteBox > button:hover {
  background-color: #dedede;
  border: 1px solid #dedede;
}

.navBar .whiteBox > button:hover > i {
  color: #9b7e4b;
  transition: color 0.3s;
}

.navBar .whiteBox > button:hover .buttonText {
  justify-content: center;
  visibility: visible;
  transform: translateY(-15px);
  color: #9b7e4b;
}

.navBar .buttonText {
  width: 90%;
  position: absolute;
  left: -1px;
  top: -18px;
  color: white;
  font-size: 100%;
  font-weight: bold;
  visibility: hidden;
  user-select:none;
  transition: color .3s, visibility .5s, transform .5s;
}

.navBar .carrerFont {
  font-size: 98%;
}

.navBar .mobileButton {
  display: none;
}
/* navBar_button_end */
/* navBar_end */

/* media */
/* navBar_start */
@media screen and (max-aspect-ratio: 11/6) {
  .navBar > .boxGroup:nth-child(1) {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 9/6) {
  .navBar > .boxGroup:nth-child(5) {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .navBar > .boxGroup:nth-child(2) {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 5/6) {
  .navBar > .boxGroup:nth-child(3) {
    display: none;
  }

  .navBar .whiteBox > button {
    border-radius: 25px;
    display: none;
  }

  .navBar .whiteBox .mobileButton {
    display: block;
  }

  .navBar .whiteBox > button > i {
    font-size: 2rem;
  }
}
/* navBar_end */
