/* NormalizeArea */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Libre Baskerville", serif;
  user-select: none;
}

/* mobileScreenMedia */
/* navBarArea */
.navBar {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 110px;
  display: flex;
  transition: height 0.5s;
  background-color: white;
}

.navBar > .boxGroup {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

/* 모바일 버전 메뉴바 축소를 위한 CSS */
.navBar > .boxGroup:nth-child(1),
.navBar > .boxGroup:nth-child(2),
.navBar > .boxGroup:nth-child(3),
.navBar > .boxGroup:nth-child(5) {
  display: none;
}

/* whiteBoxArea */
.navBar .whiteBox {
  position: relative;
  flex-grow: 1;
  border: 2px solid #453630;
  border-top: 0 solid #453630;
  width: 100%;
  height: 100%;
  background-color: #f4f2ec;
}

.navBar .whiteBox:hover {
  background: linear-gradient(to bottom, #dedede, #ababab);
}

/* blackBoxArea */
.navBar .blackBox {
  position: absolute;
  width: 9%;
  height: 50%;
  background-color: #453630;
  top: 1;
}

/* blackBox 위치 지정 CSS */
.navBar .blackBox:nth-child(8) {
  left: 9.97%;
}

.navBar .blackBox:nth-child(9) {
  left: 23.9%;
}

.navBar .blackBox:nth-child(10) {
  left: 52.5%;
}

.navBar .blackBox:nth-child(11) {
  left: 66.8%;
}

.navBar .blackBox:nth-child(12) {
  left: 80.8%;
}

/* buttonArea */
.navBar .whiteBox > button {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 3%;
  width: 95%;
  height: 40px;
  border: none;
  background-color: #453630;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.navBar .whiteBox > button:hover {
  background-color: #ababab;
  border: 1px solid #ababab;
}

.navBar .whiteBox > button:hover > i {
  color: #9b7e4b;
  transition: color 0.3s;
}

/* mobileBtnArea */
.navBar .whiteBox .mobileBtn {
  display: block;
}

.mobileBtn .mobileBtnText {
  color: #fff;
  font-size: 1.2em;
}

.mobileBtn:hover .mobileBtnText {
  color: #9b7e4b;
}

/* tabletScreenMedia */
@media all and (min-width: 768px) {
  .navBar > .boxGroup:nth-child(2) {
    display: flex;
  }
}

/* PCScreenMedia */
@media all and (min-width: 1024px) {
  .navBar .whiteBox > .mobileBtn {
    height: 43px;
  }
}
/* largePCScreenMedia */
@media all and (min-width: 1440px) {
  .navBar:hover {
    height: 200px;
  }

  .navBar > .boxGroup:nth-child(1),
  .navBar > .boxGroup:nth-child(5) {
    display: flex;
  }

  .navBar > .boxGroup:nth-child(3),
  .navBar > .boxGroup:nth-child(4) {
    display: flex;
    width: 130%;
  }

  .navBar .whiteBox .mobileBtn {
    display: none;
  }

  .navBar .whiteBox .pcBtn {
    display: block;
    border-radius: 50%;
  }

  .navBar .btnText {
    width: 100%;
    position: absolute;
    left: -1.5px;
    top: -18px;
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    visibility: hidden;
    transition: color 0.3s, visibility 0.5s, transform 0.5s;
  }

  .navBar .whiteBox > .pcBtn:hover .btnText {
    justify-content: center;
    visibility: visible;
    transform: translateY(-15px);
    color: #9b7e4b;
  }

  .navBar .whiteBox > .pcBtn > i {
    font-size: 1.3rem;
    text-align: center;
    color: #f4f2ec;
  }
}
