/* normalizeArea */
* {
  font-family: "Libre Baskerville", serif;
  user-select: none;
  cursor: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouseCursorArea */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* .skillsSectionArea */
.skillsSection {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 17%;
}

/* skillsHeaderArea */
.skillsSection > .skillsHeader {
  width: 35%;
  height: 60px;
  text-align: center;
  color: #9b7e4b;
  font-size: 1.7rem;
  margin: 0 auto;
  border-bottom: 1px solid #9b7e4b;
}

.skillsHeader > div {
  width: 100%;
  height: 4px;
  border-top: 3px solid #9b7e4b;
}

/* skillsArticleArea */
.skillsSection .skillsArticle {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.skillsArticle > .noteBox {
  display: flex;
  width: 85%;
  height: 160px;
  border-top: 2px solid #9b7e4b;
  margin-top: 3.5%;
  margin-left: auto;
  margin-right: auto;
}

.skillsArticle .noteBoxRow {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #9b7e4b;
}

.noteBoxRow:nth-child(4) {
  display: none;
}

.noteBoxRow:nth-child(5) {
  display: none;
}

.skillsArticle .noteBoxCol {
  position: relative;
  flex: 1;
  width: 100%;
  border-bottom: 2px solid #9b7e4b;
}

.skillsArticle .noteBoxTitle {
  color: #9b7e4b;
  font-size: 0.8rem;
  font-weight: bold;
  transform: translateY(-17px);
}

.skillsArticle .imgIcon {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
}

.imgIcon > img {
  width: 100%;
  height: 100%;
}

/* iconArea */
.htmlIcon {
  left: 10%;
  top: -12px;
}

.cssIcon {
  left: 40%;
  top: -12px;
}

.dbmsIcon {
  left: 10%;
  top: -6px;
}

.gitIcon {
  left: 10%;
  top: 12px;
}

.jsIcon {
  left: 110%;
}

.reactIcon {
  left: 60%;
}

.linuxIcon {
  left: 110%;
}

.githubIcon {
  left: 110%;
}

.rIcon {
  left: 60%;
}

/* noteLastLineArea */
.noteBox > .noteLastLine {
  position: relative;
  border-right: 10px solid #9b7e4b;
}

.noteBox .noteLine {
  position: absolute;
  height: 160px;
  right: 12%;
  border-right: 4px solid #9b7e4b;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1440px) {
  .skillsArticle > .noteBox {
    width: 95%;
  }

  .noteBoxRow:nth-child(4) {
    display: flex;
  }

  .noteBoxRow:nth-child(5) {
    display: flex;
  }

  .noteBox .noteBoxTitle {
    font-size: 1.1rem;
    transform: translateY(-25px);
  }

  .noteBox .imgIcon {
    width: 50px;
    height: 50px;
  }

  /* iconArea */
  .jsIcon {
    left: 75%;
    top: 8px;
  }

  .reactIcon {
    left: 10%;
    top: 17px;
  }

  .linuxIcon {
    left: 75%;
    top: 40px;
  }

  .githubIcon {
    left: 75%;
    top: 12px;
  }

  .rIcon {
    left: 10%;
    top: 75px;
  }

  .noteBox .noteLine {
    right: 6%;
    border-right: 6px solid #9b7e4b;
  }
}
