/* normalizeArea */
* {
  font-family: "Libre Baskerville", serif;
  user-select: none;
  cursor: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouseCursorArea */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* mobileScreenMedia */
/* workSectionArea */
.workSection {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12%;
}

/* workBoxArea */
.workSection > .workBox {
  width: 100%;
  height: 500px;
}

.workBox .workTitle {
  color: #9b7e4b;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.workBox .sliderBanner {
  position: relative;
  width: 100%;
  margin-top: 80px;
  text-align: center; /* lpRecord를 가운데 정렬하기 위한 설정 */
}

/* lpCaseArea */
.sliderBanner > .lpCase {
  z-index: 1;
  position: absolute;
  left: 50%;
}

.lpCase .slide-show img {
  width: 95%;
  height: 220px;
  border: 5px solid #9b7e4b;
}

/* lpBoxArea */
.workSection .lpBox {
  width: 230px;
  height: 230px;
  margin-top: 0;
  display: inline-block;
}

.lpBox .main {
  position: relative;
}

.lpBox .slide-show {
  height: 250px;
  transform: translateX(-50%);
}

/* lpRecordArea */
.lpRecord > img {
  width: 100%;
  border-radius: 50%;
  transition: 0.5s transform;
}

.lpRecord:hover > img {
  transform: translateX(60px);
}

/* arrowsArea */
.arrows > .btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(400%);
  right: calc(80%);
  font-size: 2rem;
  color: #9b7e4b;
}

.btn-arrow:hover {
  transform: translateY(410%);
}

.btn-arrow:active {
  color: #ffce78;
}

.btn-arrow.btn-arrow-right {
  /* 오른쪽 화살표 CSS */
  left: calc(80%);
  right: auto;
}

/* showBoxArea */
.workSection > .workShow {
  width: 100%;
  margin: 0 auto;
  background: none;
}

.showBox {
  width: 450px;
  height: 150px;
  margin: 70px auto 0;
}

.showBox .slide-show {
  width: 100%;
  margin-top: 0;
}

.showBox .slide-show > div {
  height: 700px;
}

.showBox .slide-show img {
  display: none;
  width: 100%;
  height: 450px;
  border-radius: 25px;
}

.showBox .slide-show button {
  width: 90px;
  height: 40px;
  margin-top: 0;
  margin-left: 5px;
  color: #f4f2ec;
  background-color: #9b7e4b;
  border: 0;
  border-radius: 10px;
}

.showBox .slide-show button:hover {
  transform: translateY(5px);
}

.showBox .descriptionBox {
  display: inline-block;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.showBox h3,
p {
  font-family: "Noto Serif KR", serif;
  font-weight: bold;
  color: #9b7e4b;
}

.showBox h3 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.3rem;
}

.showBox p {
  font-size: 1.1rem;
}

/* tabletScreenMedia */
@media all and (min-width: 768px) {
  .workSection > .workShow {
    width: 70%;
    margin: 0 auto;
  }

  .showBox {
    width: 500px;
  }

  .showBox h3 {
    font-size: 1.5rem;
  }

  .showBox p {
    font-size: 1.3rem;
  }
}

/* PCScreenMedia */
@media all and (min-width: 1024px) {
  .workSection {
    display: flex;
  }

  .workSection > .workBox {
    width: 50%;
  }

  .workSection .lpBox {
    margin-top: 50px;
  }

  .workBox .lpCase {
    left: 50%;
    right: 50%;
  }

  .showBox {
    width: 100%;
    height: 500px;
  }

  .workSection > .workShow {
    width: 50%;
    background-color: #f4f2ec;
    border: 5px solid #9b7e4b;
    border-radius: 25px;
  }

  .showBox .slide-show img {
    display: block;
    height: 350px;
    margin-bottom: 20px;
  }

  .showBox .slide-show button {
    margin-left: 0;
    background-color: #453630;
    width: 150px;
    height: 40px;
  }

  .showBox .descriptionBox {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .showBox h3,
  p {
    font-family: "Noto Serif KR", serif;
    color: black;
    display: inline;
  }

  .showBox h3 {
    margin-left: 22px;
    font-size: 1.2rem;
  }

  .showBox p {
    font-size: 1.1rem;
  }
}

/* largePCScreenMedia */
@media all and (min-width: 1440px) {
  .workSection > .workBox {
    width: 40%;
  }

  .workSection > .workShow {
    width: 60%;
  }

  .showBox .slide-show img {
    width: 90%;
    height: 400px;
    margin: 0 auto 20px;
    border-radius: 25px;
  }

  .showBox .slide-show button {
    margin-top: 20px;
    margin-left: 50px;
  }

  .showBox h3 {
    font-size: 1.4rem;
    margin-left: 40px;
  }

  .showBox .descriptionBox {
    margin-left: 245px;
  }
}
