/* Normalize_start */
* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Libre Baskerville", serif;
  }
  
  body {
    background-color: #f6f0e1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    outline: none;
  }
  /* Normalize_end */